/* ======== PASSWORD RESET PAGE SPECIFIC ======== */
.password-container {
  position: relative;
  width: 100%;
  margin: 10px 0;
}
 
.password-container input {
  width: 100%;
  padding: 12px 40px 12px 12px; /* space for the eye icon */
  font-size: 14px;
  border-radius: 12px;
  background: #1a1a1a;
  color: #fff;
  border: none;
  outline: none;
}
 
.password-container .show-password {
  position: absolute;
  top: 15%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding: 0;
  width: auto;
  z-index: 10;
}
 
.password-container .show-password:hover {
  opacity: 0.7;
}
