/* ======================= RESET ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #dae0e6;
  color: #1a1a1b;
}



/* ======================= MAIN LAYOUT ======================= */
.main-layout {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background: #dae0e6;
  gap: 30px;
}

.container {
  width: 65%;
}

.sidebar {
  width: 25%;
  background: #fff;
  border-radius: 14px;
  padding: 25px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: fit-content;
  position: sticky;
  top: 90px;
}

.sidebar h3 {
  margin-bottom: 18px;
  font-size: 18px;
  color: #111;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px 0;
  font-weight: 500;
  color: #0079d3;
  cursor: pointer;
  transition: all 0.2s;
}

.sidebar li:hover {
  color: #0056a3;
  transform: translateX(4px);
}
